@media screen and (max-width: 1920px) {

  .forum-sidebar {
    display: none;
  }


  #user-menu .content {
    top: 30px;
  }

  .page-template-page-with-sidebar .forum-sidebar,
  .page-forum .forum-sidebar {
    background-color: #9FBCCE;
    height: auto;
    left: -20px;
    padding-top: 10px;
    padding-right: 32px;
    position: relative;
    float: none;
    width: 100%;
  }

  .page-template-page-with-sidebar .forum-sidebar:after,
  .page-forum .forum-sidebar:after {
    content: ' ';
    clear: both;
    display: block;
  }

  .page-template-page-with-sidebar .forum-sidebar .widget,
  .page-forum .forum-sidebar .widget {
    float: left;
    width: 28%;
    padding: 0;
    margin: 20px 2%;
  }

  .page-template-page-with-sidebar .widget:nth-child(4n),
  .page-forum .forum-sidebar .widget:nth-child(4n) {
    clear: both;
  }

  #buddypress span.activity {
    font-size: 9px;
  }

  .page-template-page-with-sidebar #content {
    margin-right: 0;
  }

  #user-menu .avatar img {
    margin-top: -5px;
  }

}

@media screen and (max-width: 1700px) {

  #post-grid .item {
    width: 45%;
  }

}

@media screen and (max-width: 900px) {

  .single .post .thumbnail {
    height: 500px;
  }

  div#expertiseinfo {
    font-size: 18px;
}

  .activity #buddypress {
    width: 100%;
    max-width:700px;
  }

  .page-template-page-with-sidebar #content {
    margin-left: 0;
    margin-right: 0;
  }

  #user-menu {
    position: inherit;
    text-align: left;
    display: inline-block;
    margin-right: 23px;
  }

  #user-menu .user-toggle {
    background: url('../img/key_icon_white.png');
    background-position-y: 22px;
    background-position-X: 16px;
    height: 43px;
    width: 46px;
    background-repeat: no-repeat;
    background-size: 29px 12px;
  }

  #user-menu .content {
    top: 64px;
    left: -145px;
  }

  #user-menu .user {
    display: none;
  }

  #loginform {
    width: 90%;
  }

  #topbar {
    padding: 13px 0px;
  }

  #topbar #breadcrumbs {
    font-size: 10px;
    padding: 0px 30px;
  }

  #topbar #breadcrumbs > span > span > a {
    margin-left: 0;
    padding-left: 0px!important;
  }

  #topbar #breadcrumbs .breadcrumb_last {
    background: none;
    color: #B1B1B1;
    padding: 0px;
    margin: 0px;
  }

  #mobile-navbar {
    display: block;
  }

  #navbar {
    display: none;
  }

  #content.page-forum {
    margin: 0 auto;
  }

  #content {
    margin-left: 0;
    padding-top: 55px;
    height: auto;
  }

  .page-template-page-with-sidebar .widget:nth-child(4n), .page-forum .forum-sidebar .widget:nth-child(4n) {
    clear: none;
  }

  .topic-lead {
    width: 80%;
    padding: 50px;
  }

  .list-replies {
    width: 80%;
  }

}

@media screen and (max-width: 800px) {

  #project-nav {
    display: none;
  }

  #buddypress{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
  }

  div#expertiseinfo {
    font-size: 18px;
}

.bbp-user-page {
  background-color: #ffb1b1;
}


#buddypress #admins-list li, #buddypress #members-list li, #buddypress #mods-list li {
    font-size: 16px;
    width: calc(33% - 10px);
  }


  #buddypress #members-list li div.item {
    margin-left: 0;
  }

  #buddypress #admins-list li .item .inner,
  #buddypress #members-list li .item .inner,
  #buddypress #mods-list li .item .inner {
    margin-top: 22px;
  }

/* delete topic page weird stuff
  .bbp-topic-form {
    padding-top: 50px!important;
    margin: 0 auto;
    padding: 0px;
    background: #edefed;
    padding-bottom: 50px;
  }
  */


  .topic-reply {
    margin: 40px auto 0 auto;
  }

  .topic-reply #country {
    margin-left: 60px;
    margin-top: 10px;
}



  div#relatedposts li {
    width: 44%;
  }

  .bbpress h1 {
    margin: 0px 0px 0px 0px;
    font-size: 40px!important;
    padding: 25px 0px;
  }

.bbp-topic-title .padding-left-10{
    display: none;
  }

  .padding-left-10 {
    font-size: 30px;
  }

  .bbp-topic-permalink, .bbp-forum-title{
    font-size: 16px;
    letter-spacing: inherit;
  }

  .padding-left-20 a.bbp-author-name {
    display: none;
  }

  .alt-forum-sidebar {
    height:1000px;
  }

  .bbpress .post.no-headerimage {
  }
  .page-template-page-with-sidebar #content {
      padding-bottom: 1000px;
  }
  .bbp-topic-form {
    margin: inherit;
    padding: inherit;
    padding-bottom: 80px;
  }

  #bbpress-forums ul.bbp-topics{
    padding-bottom:0px!important;
  }

  #nav_menu-5 {
    text-align: left;
  }

  h2.widgettitle {
    text-align: left!important;
  }

.widget.widget_nav_menu ul {
    margin-left: -40px;
  }


  .alt-forum-sidebar li.widget {
    float: none;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
  }

  .alt-forum-sidebar h2.widgettitle {
    padding: 0;
    margin: 0;
  }

  .alt-forum-sidebar #bbp-search-form {
    margin-top: 10px;
  }

  .bbp-forum-freshness .author-avatar,
  .bbp-topic-freshness .author-avatar,
  .bbp-topic-title .author-avatar {
    margin: 0 6px 10px 14px;
  }

  .bbp-forum-freshness .topic-desc,
  .bbp-topic-freshness .topic-desc,
  .bbp-topic-title .topic-desc {
    margin-top: 10px;
  }
/*
  body {
    overflow-x: hidden;
  }
 remove scroll
  #content {
    overflow-x: hidden;
  }
*/
  #content.projects-page {
    overflow: visible;
  }

  .page .post .post-content,
  .single .post .post-content {
    width: 90%;
  }

  #post-grid .item {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }

  #post-filter li.label {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    float: none;
  }

#post-filter{
  padding: 0px;
  padding-bottom: 40px;
}


  #post-filter li {
    float: none;
  }

  #content .project .caption {
    top: 10%;
  }


  .single-post h1 {
    font-size: 50px;
    padding:0px
}

.categorylabel h1{
  font-size: 18px;
}

.other-updates h1{
font-size: 18px;
}


  .page .post .thumbnail .meta, .single .post .thumbnail .meta{
    bottom: 10%;
  }



  #content .project .caption h2 {
    font-size: 48px;
  }

  .page-forum .forum-sidebar {
    left: 0;
    padding-bottom: 30px;
    padding-right: 0;
  }

  #post-filter {
    padding: 40px;
  }

  #bbpress-forums li.bbp-header li.bbp-forum-info {
    text-align: left!important;
  }

  .avatar-block {
    margin-top: 20px;
  }

  .page-forum .forum-sidebar .widget {
    float: none;
    width: 100%;
  }

  #new-post {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  #bbpress-forums fieldset.bbp-form {
    border: none !important;
  }

  #bbpress-forums fieldset.bbp-form > legend,
  #bbpress-forums fieldset.bbp-form > div {
    padding: 0 !important;
    width: 100%;
    font-size: 30px;
  }

  #bbpress-forums {
    margin-bottom: 0 !important;
  }

  .topic-reply .author {
    float: left;
    background-color: white;
    display: inline-block;
  }

  .topic-reply .content .reply-date {
    text-align: right;
    float: inherit;
    padding: 12px 0px 0px 0px;
  }

  .topic-lead a.bbp-author-name {
    margin-left: 0px;
  }

  #bbpress-forums ul.bbp-threaded-replies {
    margin-left: 40px !important;
  }

  .topic-reply .content p {
    font-size: 14px;
    padding: 10px 0px 10px 0px;
  }

  .topic-reply .author a {
    position: absolute;
    z-index: 2;
  }

  .topic-reply a.bbp-author-name {
    margin-top: 15px;
    margin-left: 75px;
  }

  .topic-reply .author img {
    border: none;
    height: 40px;
    width: auto;
    padding: 19px;
    margin-bottom: 0px;
  }

  #mycred-my-rank {
    width: auto;
    display: none;
  }

  .topic-reply .content {
    border: none;
  }

  .topic-reply .content {
    margin-left: 0;
  }

  .list-replies {
    width: 90%;
  }

  .topic-reply .content::before {
    display: none;
  }

  .topic-lead .author {
    margin-bottom: 20px;
  }

  .topic-lead {
    width: 100%;
    box-sizing: border-box;
  }

  .error404 .post .post-content,
  .post .post-comments,
  .page .post .post-content,
  .single .post .post-content {
    width: 90%;
  }

  .page-template-projects #content .project .caption p {
    font-size: 14px;
  }

  .page-template-projects #content .project .caption h2 {
    font-size: 30px;
    margin-top: 5px;
  }

  .page-template-projects #content .project .btn {
    margin-top: 20px;
  }

  #fp-nav {
    display: none;
  }

  #members-dir-search {
    margin-top: 10px;
    float: none !important;
  }

  .buddypress h1 {
    padding: 60px 0 0px 0;
  }

  #content {
    height: auto;
  }

/* remove scroll
  .buddypress #content .post,
  .bbpress #content .post,
  .buddypress #content,
  .bbpress #content {
    height: auto;
    overflow: auto;
    padding-bottom: 0;
  }
*/
  #bbpress-forums fieldset.bbp-form {
    padding: 0 !important;
  }

  #buddypress table.profile-fields {
    margin: 0 !important;
  }

  .bp-user .post {
    padding: 0;
  }

  .bp-user .post #buddypress {
    padding: 0px 0;
    width: 100%;
    border: none;
  }


  .bbp-topic-voice-count,
  .bbp-topic-reply-count,
  .bbp-topic-freshness,
  .bbp-forum-reply-count,
  .bbp-forum-freshness,
  .bbp-forum-topic-count {
    display: none !important;
  }

  li.bbp-topic-title {
    width: 100% !important;
  }


  #buddypress div.item-list-tabs ul li.last {
    float: inherit !important;
  }

  .single.single-forum .post .thumbnail {
    height: 300px;
  }

  .single-topic h1 {
    padding: 25px 0px;
    font-size: 40px!important;
  }

  .topic-lead .content p {
    font-size: 16px;
  }

  .wysija-paragraph input {
    width: 100%;
  }

  .bbp-pagination {
    width: 90% !important;
    padding: 5%;
  }

  .list-replies-container {
    width: 90%;
    padding: 5%;
  }

  .smallusername {
    padding: 11px 0px 0px 0px;
  }

  .topic-reply .content {
    margin-left: 0;
    padding: 20px;
  }

  #post-grid > .status {
    padding: 20px;
    box-sizing: border-box;
  }

  #post-grid .status-text p {
    font-size:22px;
}

  .single .post .post-content img.aligncenter {
    margin-left: -5%;
    max-width: 110%;
  }

  #bbp-search-results {
    width: 90%;
    padding: 5%;
  }

  .search-result .result {
    margin: 80px auto 0 auto;
    overflow: hidden;
  }

  #bbpress-forums .bbp-attachments ol {
    overflow: inherit !important;
  }

  .bbp-attachments {
    overflow: inherit !important;
  }

  .topic-desc a.page-numbers {
    display:none;
  }


}

@media screen and (max-width: 540px) {

  .single .post .thumbnail h1 {
    font-size: 50px;
  }

  .profile #buddypress #item-body {
    padding: 20px;
}

  .topic-lead {
    padding: 20px;
  }

  .buddypress h1 {
    padding: 0px;
    margin: 0px;
  }

  #post-grid .item h3 {
    margin: 20px 20px 0px;
}
  #post-grid .item p {
    margin: 20px 20px 0px;
  }
  #post-grid .post_meta{
    margin: 20px 20px 40px 20px;
  }

#buddypress ul.item-list li img.avatar{
  margin: 10px 10px 0px 10px !important;
}


  #post-grid .status-text p {
    display: inherit;
}

  #content {
    padding-top: 45px;
  }

  #buddypress {
      padding: 5px;
  }

#buddypress #members-list li .item-avatar img{
  margin:0px!important;
}

  .comment-body .comment-author {
    position: static;
    display: inline;
  }

  #topbar #breadcrumbs {
    padding: 0px 15px;
  }

  .single .post .commentlist {
    padding-left: 0px;
  }

  .post-comments {
    padding-bottom: 60px;
  }

  .comment-body .comment-author img {
    border: none;
    width: 30px;
    height: auto;
  }

  .comment-body::before {
    display: none;
  }

  .comment-body .comment-author cite {
    display: inline;
    padding-left: 10px;
  }

  .topic-lead .content p {
    font-size: 16px;
  }

  .topic-reply .content p {
    font-size: 13px;
  }

  .single-post p {
    font-size: 16px;
  }

  p, .post-content li, .content li {
    margin: 0 0 0px 0;
  }

  p, .post-content li, .content li {
    font-size: 14px;
  }

  p.wp-caption-text {
    padding: 10px 0px 40px;
  }

  .bbp-forum-title {
    font-size: 16px;
  }

  .bbp-forum-info {
    font-size: 18px;
  }

  .list-replies {
    width: 100%;
  }

  #mobile-navbar {
    height: 50px;
  }

  #mobile-menu {
    margin-top: -6px;
  }

  #mobile-navbar #logo img {
    height: 31px;
  }

  #mobile-navbar #menu-toggle {
    background-repeat: no-repeat;
    background-size: 23px 23px;
    margin: 12px 2px 0px 10px;
  }

  #mobile-navbar #logo {
    margin-left: 10px;
  }

  #post-grid {
    width: 100%;
  }

  #post-grid .item {
    border-top: 1px dashed #ccc;
    border-bottom: none;
    margin: 0 0 0px 0;
  }

  #bbpress-forums li {
    float: none !important;
    width: 100%;
  }

  #bbpress-forums li.bbp-body ul.topic {
    padding-left: 0px!important;
  }

  .padding-left-10, .padding-left-20 {
    padding-left: 0 !important;
    font-size: 30px;
  }

  .bbp-forum-title img {
    width: 50px;
    height: auto;
    padding: 10px;
  }

  #buddypress #admins-list li,
  #buddypress #members-list li,
  #buddypress #mods-list li {
    float: none;
    width: 48%;
    margin: 0%;
  }

  #buddypress span.activity {
    font-size: 13px !important;
  }

  .activity #buddypress {
    width: 90%;
  }

  #buddypress ul.item-list li {
    padding: 10px 0px 10px 0px !important;
  }

}
