@media screen and (max-width: 1700px) {

  .single .post .thumbnail {
      height: 500px;
  }
  .page-forum .post {
    padding-bottom: 80px;
  }
  .page-forum {

  }
  .forum-sidebar {
    display: none;
  }
  .alt-forum-sidebar {
    display: block;
    padding-left: 30px;
}

#post-grid .item {
    width: 47%;
}

#user-menu .content {
    top: 30px;
}

#user-menu .avatar img {

}




  .page-template-page-with-sidebar .forum-sidebar,
  .page-forum .forum-sidebar {
    background-color: #9FBCCE;
    height: auto;
    left: -20px;
    padding-top: 10px;
    padding-right: 32px;
    position: relative;
    float: none;
    width: 100%;
  }
  .page-template-page-with-sidebar .forum-sidebar:after,
  .page-forum .forum-sidebar:after {
    content: " ";
    clear: both;
    display: block;
  }
  .page-template-page-with-sidebar .forum-sidebar .widget,
  .page-forum .forum-sidebar .widget {
    float: left;
    width: 28%;
    padding: 0;
    margin: 20px 2%;;
  }
  .page-template-page-with-sidebar .widget:nth-child(4n),
  .page-forum .forum-sidebar .widget:nth-child(4n) {
    clear: both;
  }

 
  
#buddypress span.activity {
	    font-size: 9px;
}

  .page-template-page-with-sidebar #content {
    margin-right: 0;
  }
  
    #user-menu .avatar img {
    margin-top: -5px;
}


}

@media screen and (max-width: 1140px) {
  .page-template-page-with-sidebar #content {
    margin-left: 0;
    margin-right: 0;
  }
  
  
#user-menu {
position: inherit;
    text-align: left;
    display: inline-block;
    float: right;
    margin-right: 23px;
}




  #user-menu .user-toggle {
   background: url('../img/key_icon_white.png');
    background-position-y: 22px;
    background-position-X: 16px;
    height: 43px;
    width: 46px;
    background-repeat: no-repeat;
    background-size: 29px 12px;



  }
  #user-menu .content {
       top: 64px;
    left: -145px;
  }
  #user-menu .user {
    display: none;
  }
  #loginform {
    width: 90%;
  }
  #topbar {
    display: none;
  }
  #mobile-navbar {
    display: block;
  }
  #navbar {
    display: none;
  }
  #content.page-forum {
    margin: 0 auto;
  }
  #content {
    margin-left: 0;
    padding-top: 40px;
  
    height: auto;
  }
  .page-template-page-with-sidebar .widget:nth-child(4n), .page-forum .forum-sidebar .widget:nth-child(4n) {
    clear: none;
  }
  
  .topic-lead {
    width: 80%;
}

.list-replies {
    width: 80%;
}

}

@media screen and (max-width: 800px) {
	
	
  #project-nav {
    display: none;
  }
  #buddypress #members-list li div.item {
    margin-left: 0;
  }
  #buddypress #admins-list li .item .inner, #buddypress #members-list li .item .inner, #buddypress #mods-list li .item .inner {
    margin-top: 22px;
  }
  .bbpress h1 {
    margin: 0 0 20px 0;
  }
  .alt-forum-sidebar {
    padding-left: 0;
  
    padding-top: 10px;
    padding-bottom: 40px;
}
  .alt-forum-sidebar li.widget {
    float: none;
    margin: 10px auto;
    width: 90%;
  }
  .alt-forum-sidebar h2.widgettitle {
    padding: 0;
  
    margin: 0;
  }
  .alt-forum-sidebar #bbp-search-form {
    margin-top: 10px;
  }
 
  
  .bbp-forum-freshness .author-avatar, .bbp-topic-freshness .author-avatar, .bbp-topic-title .author-avatar {
    margin: 0 6px 10px 14px;
  }
  .bbp-forum-freshness .topic-desc, .bbp-topic-freshness .topic-desc, .bbp-topic-title .topic-desc {
    margin-top: 10px;
  }
 
  body {
    overflow-x: hidden;
  }
  #content {
    overflow-x: hidden;
  }
  .page .post .post-content,
  .single .post .post-content {
    margin: 40px auto;
    width: 90%;
  }
  
  #post-grid .item {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
  #post-filter li.label {
    margin-bottom: 10px;
  }
  #post-filter li {
    float: none;
  }
  #content .project .caption {
    top: 10%;
  }
  #content .project .caption h2 {
    font-size: 48px;
  }
  .page-forum .forum-sidebar {
    left: 0;
    padding-bottom: 30px;
    padding-right: 0;
  }
  
  #post-filter {
    padding: 40px;
}


  
  
  #bbpress-forums li.bbp-header li.bbp-forum-info {
    text-align: left!important;
}

.avatar-block {
    margin-top: 20px;
}


  .page-forum .forum-sidebar .widget {
    float: none;
    width: 100%;
  }
  #new-post {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  #bbpress-forums fieldset.bbp-form {
    border: none !important;
  }
  #bbpress-forums fieldset.bbp-form > legend,
  #bbpress-forums fieldset.bbp-form > div {
    padding: 0 !important;
    width: 100%;
  }
  #bbpress-forums {
    margin-bottom: 0 !important;
  }
  .topic-reply .author {
    float: left;
	background-color:white;
	   
		    display: inline-block;
	
  }
  
  
  .topic-reply .content .reply-date {
    text-align: right;
	    float: inherit;
		padding: 12px 0px 0px 0px; 
	
}


.topic-lead  a.bbp-author-name{margin-left:0px;}



.topic-reply .content .bbp-admin-links {
        text-align: right;
    padding: 0px;
}

.topic-reply .content p {
    font-size: 14px;
	padding: 10px 0px 10px 0px;
}

.topic-reply .author a {

    position: absolute;
	    z-index: 2;

}




 .topic-reply a.bbp-author-name {

    margin-top: 15px;
    margin-left: 75px;
}






  
  .topic-reply .author img {
	  border:none;
    height: 40px;
    width: auto;
    margin-left: 0px;
	padding:19px;
	margin-bottom:0px;
}


  
 #mycred-my-rank{
	 width: auto;
    display: none;}
  
  
  
  
  .topic-reply .content {
	      border: none; 
		  }
		  
.bbpress #user-menu {

}



  .topic-reply .content {
    margin-left: 0;
  
  }
  .list-replies {
    width: 90%;
  }
  .topic-reply .content::before {
    display: none;
  }
  .topic-lead .author {
    margin-bottom: 20px;
  }
  .topic-lead {
    width: 90%;
  }
  .error404 .post .post-content, .post .post-comments, .page .post .post-content, .single .post .post-content {
    width: 90%;
	
  }
  .page-template-projects #content .project .caption p {
    font-size: 14px;
  }
  .page-template-projects #content .project .caption h2 {
    font-size: 40px;
  }
  #buddypress #admins-list li, #buddypress #members-list li, #buddypress #mods-list li {
      float: left;
    width: 42%;

  }
  #members-dir-search {
    margin-top: 10px;
    float: none !important;
  }
  .buddypress h1 {
    padding: 60px 0 0px 0;
  }
  #content {
    height: auto;
  }
  .buddypress #content .post, .bbpress #content .post,
  .buddypress #content, .bbpress #content {
    height: auto;
    overflow: auto;
  
    padding-bottom: 0;
}
  #bbpress-forums fieldset.bbp-form {
    padding: 0 !important;
  }
  #buddypress table.profile-fields {
    margin: 0 !important;
  }
  .bp-user .post {
    padding: 0;
  }
  .bp-user .post #buddypress {
    padding: 20px 0;
    width: 90%;
  }
  
.bbp-topic-voice-count,
  .bbp-topic-reply-count,
  .bbp-topic-freshness,
  .bbp-forum-reply-count,
  .bbp-forum-freshness,
  .bbp-forum-topic-count {
    display: none !important;
  }
 
 li.bbp-topic-title {
    width: 100%!important;
}
 .bp-user, .members {
    background: #FFF;
}

#buddypress div.item-list-tabs ul li.last {
  float: inherit!important;
}

.single.single-forum .post .thumbnail {
    height: 300px;
}

.single-topic h1 {
    padding: 30px;
}

.topic-lead .content p {
    font-size: 16px;
}


.wysija-paragraph input{
 
    width: 100%;
}


/* forum topic styling*/

.list-replies-container {
    width: 90%;
    padding: 5%;
}

.topic-reply .content{
    margin-left: 0;
    padding: 20px;
}

#post-grid > .status{
	margin-bottom:100px;}
	
	
	.single .post .post-content img.aligncenter {
	margin-left: -5%;
    max-width: 110%;
    
}
  
  
  @media screen and (max-width: 540px) {
	 
	 
	 
	 .comment-body .comment-author {

    position: static;
    display: inline;

}


	 
	 .single .post .commentlist {
    padding-left: 0px;
}

	 .comment-body .comment-author img {
    border: none;
    width: 30px;
    height: auto;
}

.comment-body::before {
 display:none;
}


.comment-body .comment-author cite {
    display: inline;
	    padding-left: 10px;


}

	 .topic-lead .content p {
    font-size: 16px;
}



	 .topic-reply .content p {
    font-size: 13px;
}

	 
	 .single-post p {
    font-size: 16px;
}

p, .post-content li, .content li {
    margin: 0 0 0px 0;
}



p, .post-content li, .content li {
   font-size: 14px;
}

.bbp-forum-title {
    font-size: 16px;
}

.bbp-forum-info {
    font-size: 18px;
}


.list-replies {
    width: 100%;
}


 
	  
	  
#mobile-navbar {
    height: 50px;
}

#mobile-menu {
    margin-top: -6px;
}

#mobile-navbar #logo img {
    height: 31px;
}

#mobile-navbar #menu-toggle {
	background-repeat:no-repeat;
    background-size: 23px 23px;
 	margin: 12px 2px 0px 10px;

}





#mobile-navbar #logo {
  margin-left: 10px;
}

	  
	  #post-grid {
    width: 100%;
}

#post-grid .item {
    border-top: 1px dashed #ccc;
	border-bottom:none;
}






	   #bbpress-forums li {
    float: none !important;
    width: 100%;
  }
  
  
  
	#bbpress-forums li.bbp-body ul.topic {
    padding-left: 0px!important;
}

  
  
  
    
.padding-left-10,
  .padding-left-20 {
    padding-left: 0 !important;
  }
  
  
	  .bbp-forum-title img {
    width: 50px;
    height: auto;
    padding: 10px;
}
	  
	  
 #buddypress #admins-list li, #buddypress #members-list li, #buddypress #mods-list li {
      float: none;
    width: 100%;

  }	
  
  #buddypress #members-list li, #buddypress #mods-list li {
  /* border: 1px dashed; */
    margin-bottom: 20px;  
	font-size: 20px;
}
#buddypress span.activity {
    font-size: 13px!important;
}

  
	  
}