@media screen and (max-width: 1920px) {

  .forum-sidebar {
    display: none;
  }


  #user-menu .content {
    top: 30px;
  }

  .page-template-page-with-sidebar .forum-sidebar,
  .page-forum .forum-sidebar {
    background-color: #9FBCCE;
    height: auto;
    left: -20px;
    padding-top: 10px;
    padding-right: 32px;
    position: relative;
    float: none;
    width: 100%;
  }

  .page-template-page-with-sidebar .forum-sidebar:after,
  .page-forum .forum-sidebar:after {
    content: ' ';
    clear: both;
    display: block;
  }

  .page-template-page-with-sidebar .forum-sidebar .widget,
  .page-forum .forum-sidebar .widget {
    float: left;
    width: 28%;
    padding: 0;
    margin: 20px 2%;
  }

  .page-template-page-with-sidebar .widget:nth-child(4n),
  .page-forum .forum-sidebar .widget:nth-child(4n) {
    clear: both;
  }

  #buddypress span.activity {
    font-size: 9px;
  }

  .page-template-page-with-sidebar #content {
    margin-right: 0;
  }

  #user-menu .avatar img {
    margin-top: -5px;
  }

}

@media screen and (max-width: 1700px) {
  #post-grid .item{
    width: 31.3%;
  }
  #post-grid .item.big{
    width: 48%;
  }

}

@media screen and (max-width: 1000px) {

  .single-format-standard .post-content {
    margin-top: 0px !important;
    padding: 50px!important;

}


@media screen and (max-width: 900px) {



  .bp-user #topbar {
      margin-top: 22px;
  }

  .bp-user #topbar #breadcrumbs {
  display:none
  }



  .single .post .thumbnail {
    height: 500px;
  }

  #post-grid .item {
    width: 48%;
}

#mainCommunity #communityContent>div {
    padding: 40px;
}


  div#submenu{
    display:none;
  }


  #topbar{
    margin-top: 60px;
  }

  .single .post .post-content {
      padding: 30px!important;
      box-sizing: border-box;
    }

    .other-updates {
        width: 100%;
    }

  div#expertiseinfo {
    font-size: 18px;
  }

  .activity #buddypress {
    width: 100%;
    max-width:700px;
  }

  .page-template-page-with-sidebar #content {
    margin-left: 0;
    margin-right: 0;
  }

  #user-menu {
    position: inherit;
    text-align: left;
    display: inline-block;
    margin-right: 23px;
  }

  #user-menu .user-toggle {
    background: url('../img/key_icon_white.png');
    background-position-y: 22px;
    background-position-X: 16px;
    height: 43px;
    width: 46px;
    background-repeat: no-repeat;
    background-size: 29px 12px;
  }

  #user-menu .content {
    top: 64px;
    left: -145px;
  }

  #user-menu .user {
    display: inline-block;
  }

  #user-menu .user:hover .actions {
     display: none;
}

  #loginform {
    width: 90%;
  }

  #topbar {
    padding: 13px 0px;
  }

  #topbar #breadcrumbs {
    font-size: 10px;
    padding: 0px 30px;
  }

  #topbar #breadcrumbs > span > span > a {
    margin-left: 0;
    padding-left: 0px!important;
  }

  #topbar #breadcrumbs .breadcrumb_last {
    background: none;
    color: #B1B1B1;
    padding: 0px;
    margin: 0px;
  }

  #mobile-navbar {
    display: block;
  }

  #navbar {
    display: none;
  }

  #content.page-forum {
    margin: 0 auto;
  }

  #content {
    margin-left: 0;
    height: auto;
  }

  .page-template-page-with-sidebar .widget:nth-child(4n), .page-forum .forum-sidebar .widget:nth-child(4n) {
    clear: none;
  }

  .topic-lead {
    width: 80%;
    padding: 50px;
  }

  .list-replies {
    width: 80%;
  }

  .helpusthumbnail img {
      width: 120%!important;
  }


}

@media screen and (max-width: 800px) {

  .postid-4558 .page-forum,
  .postid-4556 .page-forum,
  .postid-62343 .page-forum,
  .postid-4560 .page-forum,
  .bbpress .post.no-headerimage,
  .page-id-73512 #content,
  .page-template-page-with-sidebar #content,
  .page-template-page-redirect,
  .page-id-73414,
  .bp-user .post{
    padding-bottom: 1600px;
  }



li#bbp_search_widget-2{
  position: inherit;
}


  .bbp-search .wpulike {
      margin-top: -55px;
  }

  .bbp-attachments {
      margin: -20px;
  }


  #bbpress-forums .bbp-attachments ol li.bbp-atthumb img {
      max-height: 350px;
  }



#buddypress div.profile{
  padding:10px;
}



  #buddypress #item-body #mycred-users-badges img {
      width: 24%;
  }



  #buddypress #item-header-cover-image #item-header-avatar,
  .bp-user #buddypress #item-header #item-header-cover-image #item-header-avatar{
    width: auto!important
  }

.bp-user div#item-header-avatar {
      display: block!important;
      width: 100%!important;
      margin: 0 auto!important;
  }

.bp-user #buddypress div#item-header div#item-header-content {
    margin-top: 0px!important;
    width: 100%!important;
}

div#item-header-cover-image {
    width: 100%!important;
}

#buddypress div#item-header img.avatar {
    width: 120px;
}


#buddypress .profile .bp-widget.base {
    width: 96%;
    box-sizing: border-box;
    margin:2%;
}

.profilesidebar {
    width: 100%;
    padding: 20px;
}




  #post-grid .item.big .youtube-container {
      height: inherit;
  }

  #post-grid, #mainCommunity #communityContent {
    max-width: 500px;
  }


#buddypress #item-header-cover-image #item-header-avatar,
.bp-user #buddypress #item-header #item-header-cover-image #item-header-avatar{
  width: 100%!important
}




  .bigHalf {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
  }

  .activity .bigHalf #buddypress {
      padding: 0px;
  }

  .smallHalf>div {
    width: 100%;
    display: inline-block;
    top: 0px;
    box-sizing: border-box;
}


.smallHalf {
    width: 100%;
    padding-right: 0px;
}

#mainCommunity #communityContent>div{
    width: 100%;
    margin-bottom: 50px;
    float: inherit;
    max-width: 400px;
    margin: 0 auto;
}

.latest_community_uploads a {
    height: 88px;
  }

  #montlyNews>img {
    width: 200px;
}

#mainCommunity #communityContent>div h2 {
    text-align: center!important;
    font-size: 30px;
}

#montlyNews>iframe {
    height: calc(100vh - 600px);
}


  .alt-forum-sidebar .avatar {
      width: 45px !important;
  }

  .notifications th.date {
      display: none;
  }

  td.notification-since {
      display: none;
  }

  .forumhover{
    padding: 3px 20px 3px 0px;
    margin-bottom: 5px;
  }

  .communitypage .thumbnail {
      width: 100%!important;
      background-color: white;
      box-sizing: border-box;
      margin-bottom: 10px;
  }

  .communitypage .thumbnail img {
      width: 200px;
      float: left;
      display: inline-block;
      padding-top: 30px;
      padding: 30px;
  }

.communitypage .thumbnail h1{
      font-size: 31px;
      text-align:left;
      margin-top: 61px;
}

.communitypage .thumbnail p{
  text-align:left;
}


  #bbpress-forums li.bbp-body ul.topic{
    margin-bottom: 5px;
    border-radius: 4px;
    padding-left: 0px !important;
  }


  .bbp-search .avatar img {
    position: absolute!important;
    z-index: 3;
    width: 50px!important;
    height: auto!important;
    border: 0px!important;
    margin-left: -38px!important;
    margin-top: 17px!important;
    top: inherit!important;
    left: inherit!important;
  }

  .bbp-search .bbp-reply-author {
      margin: inherit!important;
      min-height: inherit!important;
      padding-left: inherit!important;
      position: inherit!important;
      text-align: inherit!important;
      width: inherit!important;
      margin-left: 58px!important;
  }


  .bbp-search #country{
    margin-left:60px;
  }

.bbp-search .smallusername {
  padding:0px;
}
.bbp-search .bbp-meta {
    padding-bottom: 20px;
    margin-top: 15px;
}

.search-result div.bbp-reply-content p, .search-result div.bbp-topic-content p {
    margin-bottom: 10px;
}


  #project-nav {
    display: none;
  }

  #buddypress{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
  }

  div#expertiseinfo {
    font-size: 18px;
}



#buddypress #admins-list li, #buddypress #members-list li, #buddypress #mods-list li {
    font-size: 16px;
    width: calc(33% - 10px);
  }


  #buddypress #members-list li div.item {
    margin-left: 0;
  }

  #buddypress #admins-list li .item .inner,
  #buddypress #members-list li .item .inner,
  #buddypress #mods-list li .item .inner {
    margin-top: 22px;
  }

  .bbp-forum-info {
    width: 100%!important;
  }


/* delete topic page weird stuff
  .bbp-topic-form {
    padding-top: 50px!important;
    margin: 0 auto;
    padding: 0px;
    background: #edefed;
    padding-bottom: 50px;
  }
  */


  .topic-reply {
    margin: 40px auto 0 auto;
  }

  .topic-reply #country {
    margin-left: 60px;
    margin-top: 10px;
}
  .topic-reply #badges {
    margin-top: 10px;
}


  div#relatedposts li {
    width: 44%;
  }

  .bbpress h1 {
    margin: 0px 0px 0px 0px;
    font-size: 40px!important;
    padding: 25px 0px;
  }

.bbp-topic-title .padding-left-10{
    display: none;
  }

  .padding-left-10 {
    font-size: 30px;
  }

  .bbp-topic-permalink, .bbp-forum-title{
    font-size: 16px;
    letter-spacing: inherit;
  }

  .padding-left-20 a.bbp-author-name {
    font-size: 11px;
    margin-left: -3px;
    color: grey;
  }

  .alt-forum-sidebar {
    height:1400px;
  }

  .sidebar-banner {
    bottom: 1400px;
}

  .bbpress .post.no-headerimage {
  }

  .bbp-topic-form {
    margin: inherit;
    padding: inherit;
    padding-bottom: 80px;
  }

  #bbpress-forums ul.bbp-topics{
    padding-bottom:0px!important;
  }

  #nav_menu-5 {
    text-align: left;
  }

  h2.widgettitle {
    text-align: left!important;
  }

.widget.widget_nav_menu ul {
    margin-left: -40px;
  }


  .alt-forum-sidebar li.widget {
    float: none;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
  }

  .alt-forum-sidebar h2.widgettitle {
    padding: 0;
    margin: 0;
  }

  .alt-forum-sidebar #bbp-search-form {
    margin-top: 10px;
  }

  .bbp-forum-freshness .author-avatar,
  .bbp-topic-freshness .author-avatar,
  .bbp-topic-title .author-avatar {
    margin: 0 6px 0px 0px;
  }

  .bbp-forum-freshness .topic-desc,
  .bbp-topic-freshness .topic-desc,
  .bbp-topic-title .topic-desc {
    margin-top: 10px;
  }
/*
  body {
    overflow-x: hidden;
  }
 remove scroll
  #content {
    overflow-x: hidden;
  }
*/
  #content.projects-page {
    overflow: visible;
  }

  .page .post .post-content,
  .single .post .post-content {
    width: 90%;
  }

  #post-grid .item,  #post-grid .item.big {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }

  #post-filter li.label {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    float: none;
  }

#post-filter{
  padding: 0px;
  padding-bottom: 40px;
}


  #post-filter li {
  }

  #content .project .caption {
    top: 10%;
  }


  .single-post h1 {
    font-size: 35px;
    padding:0px
}

.categorylabel h1{
  font-size: 18px;
}

.other-updates h1{
font-size: 18px;
}


  .page .post .thumbnail .meta, .single .post .thumbnail .meta{
    bottom: 10%;
  }



  #content .project .caption h2 {
    font-size: 48px;
  }

  .page-forum .forum-sidebar {
    left: 0;
    padding-bottom: 30px;
    padding-right: 0;
  }

  #post-filter {
    padding: 40px;
  }

  #bbpress-forums li.bbp-header li.bbp-forum-info {
    text-align: left!important;
  }

  .avatar-block {
    margin-top: 20px;
  }

  .page-forum .forum-sidebar .widget {
    float: none;
    width: 100%;
  }

  #new-post {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  #bbpress-forums fieldset.bbp-form {
    border: none !important;
  }

  #bbpress-forums fieldset.bbp-form > legend,
  #bbpress-forums fieldset.bbp-form > div {
    padding: 0 !important;
    width: 100%;
    font-size: 30px;
  }

  #bbpress-forums {
    margin-bottom: 0 !important;
  }

  .topic-reply .author {
    float: left;
    background-color: white;
    display: inline-block;
  }

  .topic-reply .content .reply-date {
    text-align: right;
    float: inherit;
    padding: 12px 0px 0px 0px;
  }

  .topic-lead a.bbp-author-name {
    margin-left: 0px;
  }

  #bbpress-forums ul.bbp-threaded-replies {
    margin-left: 40px !important;
  }

  .topic-reply .content p {
    font-size: 14px;
    padding: 10px 0px 10px 0px;
  }

  .topic-reply .author a {
    position: absolute;
    z-index: 2;
  }

  .topic-reply a.bbp-author-name {
    margin-top: 15px;
    margin-left: 75px;
  }

  .topic-reply .author img {
    border: none;
    height: 40px!important;
    width: auto;
    padding: 19px;
    margin-bottom: 0px;
  }

  #mycred-my-rank {
    width: auto;
    display: none;
  }

  .topic-reply .content {
    border: none;
  }

  .topic-reply .content {
    margin-left: 0;
  }

  .list-replies {
    width: 90%;
  }

  .topic-reply .content::before {
    display: none;
  }

  .topic-lead .author {
    margin-bottom: 20px;
  }

  .topic-lead {
    width: 100%;
    box-sizing: border-box;
  }

  .error404 .post .post-content,
  .post .post-comments,
  .page .post .post-content,
  .single .post .post-content {
    width: 90%;
  }

.single .post .post-content a {
  word-break: break-all;
}


  .page-template-projects #content .project .caption p {
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -20px;
  }

  .page-template-projects #content .project .caption h2 {
    font-size: 30px;
    margin-top: 5px;
  }

  .page-template-projects #content .project .btn {
    margin-top: 20px;
  }

  #fp-nav {
    display: none;
  }

  #members-dir-search {
    margin-top: 10px;
    float: none !important;
  }

  .buddypress h1 {
    padding: 60px 0 0px 0;
  }

  #content {
    height: auto;
  }

/* remove scroll
  .buddypress #content .post,
  .bbpress #content .post,
  .buddypress #content,
  .bbpress #content {
    height: auto;
    overflow: auto;
    padding-bottom: 0;
  }
*/
  #bbpress-forums fieldset.bbp-form {
    padding: 0 !important;
  }

  #buddypress table.profile-fields {
    margin: 0 !important;
  }

  .bp-user .post {
  }

  .bp-user .post #buddypress {
    padding: 0px 0;
    width: 100%;
    border: none;
  }


  .bbp-topic-voice-count,
  .bbp-topic-reply-count,
  .bbp-topic-freshness,
  .bbp-forum-reply-count,
  .bbp-forum-freshness,
  .bbp-forum-topic-count {
    display: none !important;
  }

  li.bbp-topic-title {
    width: 100% !important;
  }


  #buddypress div.item-list-tabs ul li.last {
    float: inherit !important;
  }

  .single.single-forum .post .thumbnail {
    height: 300px;
  }

  .single-topic h1 {
    padding: 25px 0px;
    font-size: 40px!important;
  }

  .topic-lead .content p {
    font-size: 16px;
    word-break: break-word;
  }

  .wysija-paragraph input {
    width: 100%;
  }

  .bbp-pagination {
    width: 90% !important;
    padding: 5%;
  }

  .list-replies-container {
    width: 90%;
    padding: 5%;
  }

  .smallusername {
    padding: 11px 0px 0px 0px;
  }

  .topic-reply .content {
    margin-left: 0;
    padding: 20px;
    z-index: 0;
  }

.bbp-author-role.bbp-author-role-keymaster, .bbp-author-role.bbp-author-role-moderator{
  margin-top: 22px!important;
  margin-left: -15px!important;
  z-index: 20;
  position: absolute;
  }

  #post-grid > .status {
    padding: 20px;
    box-sizing: border-box;
  }

  #post-grid .status-text p {
    font-size:22px;
}

  .single .post .post-content img.aligncenter {
    margin-left: -5%;
    max-width: 110%;
  }

  #bbp-search-results {
    width: 90%;
    padding: 5%;
  }

  .search-result .result {
    margin: 10px auto 0 auto;
    overflow: hidden;
    padding: 20px;
  }

  #bbpress-forums .bbp-attachments ol {
    overflow: inherit !important;
  }

  .bbp-attachments {
    overflow: inherit !important;
  }

  .topic-desc a.page-numbers {
    display:none;
  }
  .category-meta p {
  font-size: 30px;
    margin-top: 120px;
  }

  .background-comments {
      width: 90%;
      margin: 0 auto;
  }

}

@media screen and (max-width: 540px) {



  .bp-user.friend-requests ul.item-list li div.action  {
        float: inherit;
        display: flex;
    }

  .bbp-search .wpulike {
      margin-top: -76px;
  }


  #buddypress #item-nav a {
      font-size: 12px!important;
  }


  #buddypress .messages span.activity {
      float: left;
    }



  .bp-widget.base {
      width: 95%;
      margin: 0 auto;
      display: block;
  }

  .profilesidebar {
    width: 95%;
    margin: 0 auto;
    display: block;
}

  .slider-pro {
      display: none;
    }


  .category-meta p {
  font-size: 20px;
    margin-top: 10px;
  }


  #post-filter li img {
      height: 35px;
  }

  #post-filter {
    padding: 10px;
    padding-bottom:30px
}

#post-filter li a{
  margin-left:0px
}



#post-filter li {
    float: inherit;
    display: inline;
}

.imgTitle {
    margin-top: 100px;
    margin-bottom: 50px;

}


.single .post .post-content{
  width:100%;
}
  .page-template-page-community-intro #background {
    margin-top: -15px;
}
.page-template-projects #content .project .caption p {
  margin-top: -30px;
}

.heroes {
  margin-top: 60px;
}


.hero-image {
  display: inherit;
  float: inherit;
  margin: 0 auto;

}
.hero-image img{

  }
.hero-name {
    display: inherit;
    text-align: center;
    padding: 10px;
}
.hero-about {
  margin-left: 0px;
  text-align: center;

}

.bbp-search .bbp-meta {
    padding-bottom: 0px;
    margin-top: 0px;
}

#post-grid .status-text p {
    font-size: 16px;
}

.bbp-topic-title img{
    margin-left: 5px!important;
}

#bbp-search-results {
    width: 100%;
}

.search-result .result {
    margin: 0px auto 0 auto;
    padding:30px;
  }

.ourprojects {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
}

.bbp-search .smallusername {
    font-size: 16px;
}

.search-result span.bbp-reply-post-date, .search-result span.bbp-topic-post-date {
    float: left;
    display: inline-block;
    width: 100%;
    margin-left: 30px;
    margin-top: 4px;
}

.bbp-search .avatar img {
    margin-left: -42px!important;
    margin-top: 22px!important;
    width: 30px!important;
}


.bbp-search #country {
    margin-left: 30px;
}

#bbp-search-results{
  padding:10px;
}

#gallery-2 .gallery-item {
    width: 50%;
}



div#item-header h2.user-nicename {
    font-size: 30px;
}

.bbp-search .bbp-meta {
    padding-bottom: 20px;
}

#bbpress-forums #bbp-search-form #bbp_search{
  width:60%!important;
}

#buddypress #members-list li a,
div#expertiseinfo {
    font-size: 14px;
}

.communitypage .thumbnail img {
    width: 150px;
}

.communitypage .thumbnail h1 {
    margin-top: 43px;
}



.page-id-73512 h2{
  padding-top:0px;
}
.single .post .thumbnail h1 {
    font-size: 50px;
  }

  .profile #buddypress #item-body {
    padding: 20px;
}

  .topic-lead {
    padding: 20px;
  }

  .buddypress h1 {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
  }

  #post-grid .item h3 {
    margin: 20px 20px 0px;
    font-size: 22px;
}
  #post-grid .item p {
    margin: 20px 20px 0px;
    font-size: 13px;
  }
  #post-grid .post_meta{
    padding: 20px 20px 40px 20px;
  }
  #post-grid .post_meta .tags {
      font-size: 13px;
  }


#buddypress ul.item-list li img.avatar{
  margin: 10px 10px 0px 10px !important;
}

.single-forum .padding-left-20 {
    padding-left: 50px !important;
}
  #post-grid .status-text p {
    display: inherit;
}

  #content {
    padding-top: 0px;
  }

  #buddypress {
      padding: 5px;
  }

#buddypress #members-list li .item-avatar img{
  margin:0px!important;
}

.background-comments {
    width: 97%;
  }


ul.commentlist {
    padding: 0px;
}

  .comment-body .comment-author {
    position: static;
    display: inline;
    padding: 4px;
  }

  #topbar #breadcrumbs {
    padding: 0px 15px;
  }

  .single .post .commentlist {
    padding-left: 0px;
  }

  .post-comments {
    padding-bottom: 60px;
  }

  .comment-body .comment-author img {
    border: none;
    width: 40px;
    height: auto;
    float: left;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  #custom_comment {
    margin-right: 0px;
    margin-left: 10px;
}

  .comment-body::before {
    display: none;
  }

  .comment-body .comment-author cite {
    display: inline;
    padding-left: 10px;
  }

  .topic-lead .content p {
    font-size: 16px;
  }

  .topic-reply .content p {
    font-size: 13px;
  }

  .single-post p {
    font-size: 16px;
  }

  p, .post-content li, .content li {
    margin: 0 0 0px 0;
  }

  p, .post-content li, .content li {
    font-size: 14px;
  }

  p.wp-caption-text {
    padding: 10px 0px 40px;
  }

  .bbp-forum-title {
    font-size: 16px;
  }

  .bbp-forum-info {
    font-size: 18px;
  }

  .list-replies {
    width: 100%;
  }

  #mobile-navbar {
    height: 50px;
  }

  #mobile-menu {
    margin-top: -6px;
  }

  #mobile-navbar #logo img {
    height: 31px;
  }

  #mobile-navbar #menu-toggle {
    background-repeat: no-repeat;
    background-size: 23px 23px;
    margin: 12px 2px 0px 10px;
  }

  #mobile-navbar #logo {
    margin-left: 10px;
  }

  #post-grid {
    width: 100%;
  }

  #post-grid .item,  #post-grid .item.big {
    border-bottom: none;
  }

  #bbpress-forums li {
    float: none !important;
    width: 100%;
  }

  #bbpress-forums li.bbp-body ul.topic {
    padding-left: 0px!important;
  }

  .padding-left-10, .padding-left-20 {
    padding-left: 0 !important;
    font-size: 26px;
  }

  .bbp-forum-title img {
    width: 50px;
    height: auto;
    padding: 10px;
  }

  #buddypress #admins-list li,
  #buddypress #members-list li,
  #buddypress #mods-list li {
    float: left;
    width: 47%;
    margin: 0%;
    display: inline-block;
  }

  #buddypress span.activity {
    font-size: 13px !important;
  }

  .activity #buddypress {
    width: 100%;
  }

  #buddypress ul.item-list li {
    padding: 10px 0px 10px 0px !important;
  }

  .helpusthumbnail img {
      width: 130%!important;
  }
  #project-story-hopper h2,
  #project-precious-plastic h2,
  #project-phonebloks h2{
      height: 300px;
    }


@media only screen and (max-width: 320px){

#bbpress-forums li.bbp-header li.bbp-forum-info, #bbpress-forums li.bbp-header li.bbp-topic-title{
text-transform: inherit!important;
}

.page-template-projects #content .project .caption p {
  margin-top: -50px;
}


}
